<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131832901348-toomh7q7c68rlkei2jgv1jsch1ja5v7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131832901348-toomh7q7c68rlkei2jgv1jsch1ja5v7m</string>
	<key>API_KEY</key>
	<string>AIzaSyAqKGuNLD8HPX3zzfXoY2A_82S0vcNQERo</string>
	<key>GCM_SENDER_ID</key>
	<string>131832901348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atnow.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>atnowapi</string>
	<key>STORAGE_BUCKET</key>
	<string>atnowapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131832901348:ios:70e129bb595df30873c6f1</string>
</dict>
</plist>